/*https://www.youtube.com/watch?v=FEmysQARWFU*/

header {
    box-shadow: 0px 5px 0px 0px #232428;    /* top | right | bottom | left */
    /*TODO: FIX NAV BAR (sticky) */
}

.navigationbar {            /*navigationbar class for navbar*/
    margin: 0 auto;
    margin-left: 10px;  /*rechts links abstand*/
    margin-right: 10px;
}

header {
    background-color: #36393f;
}

header::after {         /*Clearfix https://www.w3schools.com/howto/howto_css_clearfix.asp */
    content: '';
    display: table;
    clear: both;
}

.logo {                 /*logo*/
    float: left;
}

.navigationbar nav{         /*nav (beinhaltet liste) im header*/
    float: right;
}

.navigationbar ul {         /**/
    margin: 0;
    padding: 0;
    list-style: none;   /*punkte bei liste entfernen*/
}

.navigationbar li {
    display: inline-block;
    margin-left: 35px;
    padding-top: 15px;

    position: relative;
}

.navigationbar a {
    color: #a3a6aa; 
    text-decoration: none;      /*unterstriche unter links entfernen*/
    text-transform: uppercase;  /*selbsterklärend*/
    font-size: 15px;
    padding: 17px 0px 17px 0px;              /* top right bottom left; (moving clockwise) */
}

.navigationbar a:hover {
    color: #ffff;    /*hover color*/
}

.navigationbar a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #ffff;     /*color bar über text in navbar*/

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

.navigationbar a:hover::before {
    width: 100%;
}

.navigationbar img {
    margin: 5px 0px 0px 0px; /* top | right | bottom | left */
}